body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: #212121;
}

h1 {
  font-family: 'Merienda One', Helvetica, 'Open Sans', sans-serif;
  font-size: 3.5rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #D82B37;
  text-transform: uppercase;
}

h3 {
  font-size: 1.15rem;
  font-weight: 600;
}

address {
  display: inline;
}

button {
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
}

input, textarea {
  overflow: visible;
  border-radius: 5px;
  border: 1px solid #b9b9b9;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:focus, textarea:focus {
  border: 1px solid #007bff;
  -webkit-box-shadow: #007bff80 0px 0px 2px;
          box-shadow: #007bff80 0px 0px 2px;
}

a {
  position: relative;
  text-decoration: none;
  color: #007bff;
}

a.hyperlink::after {
  content: '';
  position: absolute;
  top: auto;
  left: 0;
  right: auto;
  bottom: 0;
  width: 0;
  border-bottom: 1px solid #007bff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

a.hyperlink:hover {
  text-decoration: none;
  color: #007bff;
}

a.hyperlink:hover::after {
  width: 100%;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.primary-button {
  padding: 8px 20px;
  border-radius: 5px;
  margin-right: 1rem;
  background-color: #D82B37;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.primary-button:hover {
  color: white;
  background-color: #c1232e;
  text-decoration: none;
}

.secondary-button {
  padding: 8px 20px;
  border-radius: 5px;
  margin-right: 1rem;
  border: 2px solid #D82B37;
  background-color: rgba(255, 255, 255, 0.4);
  color: #D82B37;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.secondary-button:hover {
  color: #D82B37;
  background-color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

.carousel-indicators li {
  background-color: #abc4cb;
}

/*.video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  height: 10px;
  object-fit: cover;
  filter: grayscale(100%) brightness(0.3);
  z-index: -1;

  &.home-effects {
    transform: scale(1.02);
    filter: grayscale(100%) brightness(0.3) blur(6px);
  }
}*/
.loader-home {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ececee;
}

.loader-home .circles-container {
  position: relative;
  margin: 14% auto;
  width: 20vw;
  height: 20vw;
  z-index: 10;
}

.loader-home .hi-bubble {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 44px;
  color: white;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 7em;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  z-index: 2;
}

.loader-home .circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loader-home .circle-white {
  border: 2px dashed white;
  -webkit-animation: whiteCircle;
          animation: whiteCircle;
  -webkit-animation-duration: 1100ms;
          animation-duration: 1100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.loader-home .circle-dark-dashed {
  background-color: transparent;
  border: 2px dashed #214F7299;
  opacity: 0.7;
  -webkit-animation: rotateCircle 6000ms linear infinite;
          animation: rotateCircle 6000ms linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader-home .circle-dark {
  background-color: #214F7299;
}

.loader-home .inner-containers {
  -webkit-animation: darkCircle;
          animation: darkCircle;
  -webkit-animation-duration: 1100ms;
          animation-duration: 1100ms;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotateCircle {
  0% {
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.1);
            transform: rotate(360deg) scale(1.1);
  }
}

@keyframes rotateCircle {
  0% {
    -webkit-transform: rotate(0deg) scale(1.1);
            transform: rotate(0deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.1);
            transform: rotate(360deg) scale(1.1);
  }
}

@-webkit-keyframes whiteCircle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes whiteCircle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes darkCircle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes darkCircle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes darkDashedCircle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes darkDashedCircle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}

#home {
  overflow: hidden;
  background: url("../assets/images/background-home.jpg") top center/cover no-repeat fixed padding-box content-box;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.home-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 5% 16% 0%;
  -webkit-animation-name: fadeInDelayed;
          animation-name: fadeInDelayed;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.home-content h1 {
  margin-bottom: 1.3rem;
}

.home-content h3 {
  font-weight: bold;
}

.home-content #home-content-icons {
  margin: 35px 0;
}

.home-content #home-content-icons svg.icon {
  position: relative;
  top: 0px;
  height: 40px;
  width: auto;
  margin-right: 30px;
  margin-bottom: 15px;
  fill: #214F72;
  color: #214F72;
  opacity: 0.7;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.home-content #home-content-icons svg.icon:hover {
  top: -10px;
  fill: #16344a;
  color: #16344a;
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 8px;
}

.contact-text {
  font-size: 0.85rem;
}

.hola-text {
  opacity: 0;
  -webkit-animation: appearDisappear;
          animation: appearDisappear;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes appearDisappear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appearDisappear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footer#footer {
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.footer .footer-icons .footer-icon-container:not(:last-child) {
  margin-right: 30px;
}

.footer .footer-icons svg.icon {
  height: 25px;
  width: auto;
  fill: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.footer .footer-icons svg.icon:hover {
  fill: white;
  color: white;
}

.footer .footer-copy {
  color: white;
  font-size: 0.8rem;
}

#projects .footer-icons svg.icon,
.individual-proy .footer-icons svg.icon {
  fill: rgba(96, 96, 96, 0.7);
  color: rgba(96, 96, 96, 0.7);
}

#projects .footer-icons svg.icon:hover,
.individual-proy .footer-icons svg.icon:hover {
  fill: #606060;
  color: #606060;
}

#projects .footer-copy,
.individual-proy .footer-copy {
  color: #606060;
}

#main-nav-bar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

#main-nav-bar .collapse.show ul.navbar-nav, #main-nav-bar .collapsing ul.navbar-nav {
  max-width: 150px;
  background-color: #ffffff80;
  border-radius: 10px 0 10px 10px;
}

.navbar .navbar-nav .nav-item .nav-link {
  margin: 0.2rem 0.3rem;
  padding: 3px 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  color: #D82B37;
  font-weight: bold;
  border-bottom: 2px solid #D82B37;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #D82B37;
}

#about {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1025px) {
  #about {
        grid-template-areas: "left-content menu-nav" "left-content right-content";
    -ms-grid-columns: 42.5% 57.5%;
        grid-template-columns: 42.5% 57.5%;
    -ms-grid-rows: 47px auto;
        grid-template-rows: 47px auto;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  #about {
        grid-template-areas: "menu-nav" "left-content"  "right-content";
    -ms-grid-rows: 47px auto auto;
        grid-template-rows: 47px auto auto;
    min-height: 100%;
  }
}

#about #main-nav-bar {
  grid-area: menu-nav;
}

#about .about-container-left {
  grid-area: left-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 10% 0;
}

@media screen and (min-width: 1025px) {
  #about .about-container-left {
    max-height: 100vh;
    background: transparent url("../assets/images/about-back.jpg") top left/cover no-repeat;
    background-size: auto 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  #about .about-container-left {
    background: transparent url("../assets/images/about-back.jpg") bottom left/cover no-repeat;
    background-size: 100% auto;
  }
}

#about .about-container-left .content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-align: center;
}

#about .about-container-left .content-wrapper h1 {
  font-size: 3rem;
}

#about .about-container-left .content-wrapper .buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .about-container-left .photo-container {
  width: 100%;
  margin: 7% 0 2%;
  text-align: center;
}

#about .about-container-right {
  position: relative;
  grid-area: right-content;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  opacity: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

#about .about-container-right.show {
  opacity: 1;
}

@media screen and (min-width: 1025px) {
  #about .about-container-right {
    max-height: 100vh;
    overflow: auto;
  }
}

#about .about-container-right .about-content {
  padding: 20px 6% 50px;
}

#about .about-container-right .section {
  margin-top: 10%;
}

#about .about-container-right .section ul {
  list-style: none;
}

#about .about-container-right .section ul li {
  margin-bottom: 10px;
}

#about .about-container-right .section ul li::before {
  content: "\2022";
  color: #D82B37;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.3em;
}

#about .about-container-right h2.subtitle {
  margin-bottom: 1.2rem;
}

#about .about-container-right .about-acknowledgements img {
  top: -15px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#about .about-container-right .about-acknowledgements img.show {
  top: -15px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#about .about-container-right .about-linkedin .carousel-item {
  text-align: right;
  min-height: 290px;
}

#about .about-container-right .about-linkedin .carousel-item p {
  font-style: italic;
  font-size: 1.15rem;
}

#about .about-container-right .about-linkedin .carousel-item p a {
  text-decoration: none;
  color: inherit;
}

#about .about-container-right .about-linkedin .carousel-item p a:hover {
  color: inherit;
}

#about .about-container-right .about-linkedin .carousel-item .recommendation-name {
  display: block;
  font-style: initial;
  font-weight: bold;
  font-size: 1.1em;
}

#about .about-container-right .about-linkedin .carousel-item .recommendation-role {
  font-size: 0.9em;
}

#about .about-container-right .about-linkedin .carousel-item hr {
  width: 250px;
  margin-bottom: 0;
}

#about .footer-icons svg.icon {
  fill: rgba(96, 96, 96, 0.7);
  color: rgba(96, 96, 96, 0.7);
}

#about .footer-icons svg.icon:hover {
  fill: #606060;
  color: #606060;
}

#about .footer-copy {
  color: #606060;
}

.modal-dialog {
  max-width: 680px;
}

.modal-dialog .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow: hidden;
}

.modal-dialog .modal-body .modal-right-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 15px 0px 15px 50px;
}

.modal-dialog .modal-body .modal-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.modal-dialog .modal-body .modal-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-dialog .modal-body .modal-form textarea, .modal-dialog .modal-body .modal-form input {
  width: 100%;
}

.modal-dialog .modal-body .modal-form .btn {
  display: block;
}

.modal-dialog .modal-content {
  padding: 5px 20px 20px;
}

.modal-dialog .modal-content .modal-header {
  position: relative;
}

.modal-dialog .modal-content .modal-header button.close {
  position: absolute;
  right: -9px;
  top: 0px;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.modal-dialog .modal-content h2 {
  font-size: 1.1rem;
  margin-bottom: 0px;
}

.modal-dialog .modal-content .modal-info {
  margin-bottom: 10px;
}

#projects {
  background: transparent url("../assets/images/background-projects.jpg") no-repeat left top;
  background-size: 100% auto;
}

#projects .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

#projects .projects-wrapper {
  padding: 0 10% 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-animation-name: fadeInDelayed;
          animation-name: fadeInDelayed;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

#projects .projects-wrapper h1 {
  margin-bottom: 2.5rem;
}

#projects .projects-wrapper .category .project-images-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10%;
}

#projects .projects-wrapper .category .project-images-wrapper .project-link {
  position: relative;
  width: 250px;
  min-width: 20%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 15px;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  #projects .projects-wrapper .category .project-images-wrapper .project-link {
    max-width: 48%;
  }
}

#projects .projects-wrapper .category .project-images-wrapper .project-link img {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

#projects .projects-wrapper .category .project-images-wrapper .project-link .project-shadow-container {
  position: absolute;
  height: 35px;
  right: -100px;
  top: 10px;
  padding: 5px 20px;
  text-align: right;
  opacity: 0;
  background-color: rgba(17, 17, 17, 0.8);
  -webkit-transition-property: right, opacity;
  transition-property: right, opacity;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border-radius: 6px 0 0 6px;
}

#projects .projects-wrapper .category .project-images-wrapper .project-link .project-shadow-container .project-title,
#projects .projects-wrapper .category .project-images-wrapper .project-link .project-shadow-container .project-info {
  position: relative;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#projects .projects-wrapper .category .project-images-wrapper .project-link .project-shadow-container .project-title {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
}

#projects .projects-wrapper .category .project-images-wrapper .project-link:hover .project-title {
  top: 0;
}

#projects .projects-wrapper .category .project-images-wrapper .project-link:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#projects .projects-wrapper .category .project-images-wrapper .project-link:hover .project-shadow-container {
  right: 0;
  opacity: 1;
}

#projects .projects-wrapper .project-image {
  width: 20%;
  min-width: 250px;
  height: auto;
}

body.individual-proy {
  padding: 5% 10%;
  background-color: #ececec;
}

.projects-container .section {
  margin-bottom: 5rem;
}

.identity-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.identity-content-wrapper p {
  margin-top: 1.7rem;
}

.identity-content-wrapper img {
  width: auto;
  height: 200px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.identity-content-wrapper .identity-content-container {
  padding: 0 2rem;
}

.identity-content-wrapper .identity-content-container .identity-components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.identity-content-wrapper .identity-content-container .identity-pdf {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.identity-content-wrapper .identity-content-container .identity-pdf a {
  color: #D82B37;
  cursor: pointer;
}

.identity-content-wrapper .identity-content-container .identity-pdf a:hover {
  color: #b0202a;
}

.identity-content-wrapper .identity-content-container .identity-pdf svg {
  height: 60px;
  width: auto;
}

.identity-content-wrapper .identity-content-container .identity-palette {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.identity-content-wrapper .identity-content-container .identity-palette .palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.identity-content-wrapper .identity-content-container .identity-palette .palette .hex-colour {
  margin-right: 2rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: center;
}

.identity-content-wrapper .identity-content-container .identity-palette .palette .project-colour {
  height: 75px;
  width: 75px;
  border: 1px solid #e4e4e4;
}

.web-content-wrapper .web-inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.web-content-wrapper .description-web-wrapper {
  margin-right: 2rem;
}

.web-content-wrapper .web-image {
  max-width: 48%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.advertising-content-wrapper .inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advertising-content-wrapper .description-advertising-wrapper {
  margin-left: 2rem;
}

.advertising-content-wrapper .advertising-image {
  max-width: 48%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
/*# sourceMappingURL=main.css.map */