<body>
  <a class="project-link" href="individual-projects/project-content/atc.html">
    <img class="project-image" src="../assets/images/atc-print.jpg" alt="ATC" />
    <div class="project-shadow-container">
      <div class="project-title">ATC</div>
    </div>
  </a>
  <a class="project-link" href="individual-projects/project-content/nyc.html">
    <img class="project-image" src="../assets/images/nyc-print.jpg" alt="NYC" />
    <div class="project-shadow-container">
      <div class="project-title">NYC</div>
    </div>
  </a>
  <a class="project-link" href="individual-projects/project-content/mi.html">
    <img
      class="project-image"
      src="../assets/images/mi-print.jpg"
      alt="Mi.com.co"
    />
    <div class="project-shadow-container">
      <div class="project-title">Mi.com.co</div>
    </div>
  </a>
  <a
    class="project-link"
    href="individual-projects/project-content/cingra.html"
  >
    <img
      class="project-image"
      src="../assets/images/umng-print.jpg"
      alt="CINGRA"
    />
    <div class="project-shadow-container">
      <div class="project-title">CINGRA</div>
    </div>
  </a>
  <a class="project-link" href="individual-projects/project-content/pasto.html">
    <img
      class="project-image"
      src="../assets/images/pasto-print.jpg"
      alt="Pasto Sensorial"
    />
    <div class="project-shadow-container">
      <div class="project-title">Pasto sensorial</div>
    </div>
  </a>
</body>
