<body>
  <a
    class="project-link"
    href="individual-projects/project-content/terastudio.html"
  >
    <img
      class="project-image"
      src="../assets/images/projects-tera.jpg"
      alt="Tera logo"
    />
    <div class="project-shadow-container">
      <div class="project-title">Tera Studio</div>
    </div>
  </a>
  <a
    class="project-link"
    href="individual-projects/project-content/sonrisas.html"
  >
    <img
      class="project-image"
      src="../assets/images/projects-fundacion.jpg"
      alt="Fundación sonrisas y huellas logo"
    />
    <div class="project-shadow-container">
      <div class="project-title">Sonrisas y huellas</div>
    </div>
  </a>
  <a
    class="project-link"
    href="individual-projects/project-content/estereo.html"
  >
    <img
      class="project-image"
      src="../assets/images/projects-estereo.jpg"
      alt="EstereoIGE logo"
    />
    <div class="project-shadow-container">
      <div class="project-title">EstereoIGE</div>
    </div>
  </a>
  <a class="project-link" href="individual-projects/project-content/pasto.html">
    <img
      class="project-image"
      src="../assets/images/projects-pasto.jpg"
      alt="Pasto sensorial logo"
    />
    <div class="project-shadow-container">
      <div class="project-title">Pasto sensorial</div>
    </div>
  </a>
  <a class="project-link" href="individual-projects/project-content/smapp.html">
    <img
      class="project-image"
      src="../assets/images/projects-smapp.jpg"
      alt="Smapp logo"
    />
    <div class="project-shadow-container">
      <div class="project-title">Smapp</div>
    </div>
  </a>
  <a class="project-link" href="individual-projects/project-content/smaak.html">
    <img
      class="project-image"
      src="../assets/images/projects-smaak.jpg"
      alt="Smaak logo"
    />
    <div class="project-shadow-container">
      <div class="project-title">Smaak</div>
    </div>
  </a>

  <a
    class="project-link"
    href="individual-projects/project-content/cingra.html"
  >
    <img
      class="project-image"
      src="../assets/images/projects-ingra.jpg"
      alt="Cingra logo"
    />
    <div class="project-shadow-container">
      <div class="project-title">Cingra</div>
    </div>
  </a>

  <a class="project-link" href="individual-projects/project-content/enjoy.html">
    <img
      class="project-image"
      src="../assets/images/projects-enjoy.jpg"
      alt="Enjoy logo"
    />
    <div class="project-shadow-container">
      <div class="project-title">Enjoy</div>
    </div>
  </a>
</body>
