<body>
  <a class="project-link" href="individual-projects/project-content/enjoy.html">
    <img
      class="project-image"
      src="../assets/images/web-projects-enjoy.jpg"
      alt="Enjoy web"
    />
    <div class="project-shadow-container">
      <div class="project-title">Enjoy</div>
    </div>
  </a>
  <a
    class="project-link"
    href="individual-projects/project-content/portfolio-parallax.html"
  >
    <img
      class="project-image"
      src="../assets/images/web-projects-nubes.jpg"
      alt="Portfolio parallax"
    />
    <div class="project-shadow-container">
      <div class="project-title">Portfolio Parallax</div>
    </div>
  </a>
  <a
    class="project-link"
    href="individual-projects/project-content/portfolio-web.html"
  >
    <img
      class="project-image"
      src="../assets/images/web-projects-portfolio.jpg"
      alt="Portfolio web"
    />
    <div class="project-shadow-container">
      <div class="project-title">Portfolio</div>
    </div>
  </a>
  <a
    class="project-link"
    href="individual-projects/project-content/cingra.html"
  >
    <img
      class="project-image"
      src="../assets/images/web-projects-cingra.jpg"
      alt="Cingra web"
    />
    <div class="project-shadow-container">
      <div class="project-title">Cingra</div>
    </div>
  </a>
  <a
    class="project-link"
    href="individual-projects/project-content/prende-la-vibra.html"
  >
    <img
      class="project-image"
      src="../assets/images/web-projects-prende-la-vibra.jpg"
      alt="Prende la vibra"
    />
    <div class="project-shadow-container">
      <div class="project-title">Prende la vibra</div>
    </div>
  </a>
  <a
    class="project-link"
    href="individual-projects/project-content/starwars.html"
  >
    <img
      class="project-image"
      src="../assets/images/web-projects-starwars.jpg"
      alt="Starwars"
    />
    <div class="project-shadow-container">
      <div class="project-title">Starwars</div>
    </div>
  </a>
</body>
