#main-nav-bar {
  flex: 0 0 auto;
  animation-name: fadeInUp;
  animation-timing-function: ease;
  animation-duration: 1000ms;

  .collapse.show, .collapsing {
    ul.navbar-nav {
      max-width: 150px;
      background-color: #ffffff80;
      border-radius: 10px 0 10px 10px;
    }
  }
}

.navbar .navbar-nav .nav-item {
  .nav-link {
    margin: 0.2rem 0.3rem;
    padding: 3px 10px;
    font-size: 0.9rem;
    cursor: pointer;

    &.active {
      color: $primary-colour;
      font-weight: bold;
      border-bottom: 2px solid $primary-colour;
    }

    &:hover {
      color: $primary-colour;
    }
  }
}
