#projects {
  background: transparent url("../assets/images/background-projects.jpg") no-repeat left top;
  background-size: 100% auto;

  .projects-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .projects-wrapper {
    padding: 0 10% 5%;
    flex: 1 0 auto;
    animation-name: fadeInDelayed;
    animation-duration: 2000ms;

    h1 {
      margin-bottom: 2.5rem;
    }

    .columns-wrapper {
      display: flex;
      flex-flow: row nowrap;
    }

    .images-container-left, .images-container-right {
      display: flex;
      flex-direction: column;

      img {
        height: auto;
        width: 100%;
        margin-bottom: 10rem;
        box-shadow: 3px 3px 10px 0px rgba(63,63,63,0.4);
        border-radius: 2px;
        transition: all 300ms ease;

        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .images-container-left {
      max-width: 43%;
      margin-right: 8rem;
    }

    .images-container-right {
      max-width: 53%;
    }

    /*.category {
      .project-images-wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10%;
        

        .project-link {
          position: relative;
          width: 250px;
          min-width: 20%;
          flex: 1 1 auto;
          margin-bottom: 15px;
          margin-right: 15px;
          overflow: hidden;
          border-radius: 5px;
          border: 1px solid #e4e4e4;
          cursor: pointer;

          @media screen and (min-width: 800px) {
            max-width: 48%;
          }

          img {
            position: relative;
            display: block;
            height: auto;
            width: 100%;
            transform: scale(1);
            transition-property: transform;
			      transition-duration: 800ms;
          }

          .project-shadow-container {
            position: absolute;
            height: 35px;
            right: -100px;
            top: 10px;
            padding: 5px 20px;
            text-align: right;
            opacity: 0;
            background-color: rgba(17, 17, 17, 0.8);
            transition-property: right, opacity;
            transition-duration: 0.4s;
            border-radius: 6px 0 0 6px;
            
            .project-title,
            .project-info {
              position: relative;
              color: white;
			        transition-duration: 0.5s;
            }

            .project-title {
              display: block;
              font-size: 1.1rem;
              font-weight: 500;
            }
          }

          &:hover {
            .project-title {
              top: 0;
            }

            img {
              transform: scale(1.1);
            }

            .project-shadow-container {
              right: 0;
              opacity: 1;
            }
          }
        }
      }

    }*/
    
    .project-image {
      width: 20%;
      min-width: 250px;
      height: auto;
    }
  }
}