<body>
  <script>
    $(function() {
      $("#dialog").load(`${root}components/dialog.html`);

      var currentPage = $(location).attr("pathname");

      switch (currentPage) {
        case `${root}index.html`:
          $(".home").addClass("active");
        case `${root}components/about.html`:
          $(".about").addClass("active");
        case `${root}components/projects.html`:
          $(".projects").addClass("active");
        default:
          $(".home").addClass("active");
      }

      $(".home").attr("href", `${root}index.html`);
      $(".about").attr("href", `${root}components/about.html`);
      $(".projects").attr("href", `${root}components/projects.html`);
    });
  </script>

  <nav
    class="navbar navbar-light navbar-expand-md bg-faded justify-content-end"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsingNavbar3"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse w-100 text-right"
      id="collapsingNavbar3"
    >
      <ul class="nav navbar-nav ml-auto justify-content-end">
        <li class="nav-item">
          <a class="nav-link home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link about" href="components/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link projects" href="components/projects.html"
            >Projects</a
          >
        </li>
        <li class="nav-item" data-toggle="modal" data-target="#exampleModal">
          <a class="nav-link contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="dialog"></div>
</body>
