<div class="project-info">JS, Bootstrap, HTML5, Design, Photo editing</div>
<div class="project-info">JS, Jquery, Parallax, Bootstrap, HTML5, Design</div>
<div class="project-info">JS, Jquery, Bootstrap, HTML5, SASS, Design, Photo editing</div>
<div class="project-info">JS, Jquery, Parallax, Bootstrap, HTML5, Design</div>
<div class="project-info">JS, Jquery, Parallax, Bootstrap, HTML5, Design</div>


<div class="project-info">Creative thinking, Illustrator</div>
<div class="project-info">Creative thinking, Illustrator</div>
<div class="project-info">Creative thinking, Illustrator</div>
<div class="project-info">Hi-Fi vector, Illustrator</div>
<div class="project-info">Creative thinking, Illustrator</div>
<div class="project-info">Creative thinking, Illustrator</div>
<div class="project-info">Creative thinking, Illustrator</div>
<div class="project-info">Creative thinking, Illustrator</div>